*.o
*.a
*.pyc
*.key
*.pem
build
sdkconfig
sdkconfig.old

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
cmake-build-debug
cmake-build-debug-xtensa-esp32-elf

.idea/
ldgen*
flash*
kconfigs*
config.env
config/
project_description.json
partition-table-flash*
bootloader-flash*
app-flash*
bootloader-prefix/
esp-idf/

